.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.boton {
  padding: 20px 40px;
  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;
}

/* Parpadeo */
.flash {
  animation: parpadeo 0.1s infinite;
}

@keyframes parpadeo {
  0% { background-color: black; }
  50% { background-color: white; }
  100% { background-color: black; }
}
