* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center; /* centro horizontal */
  align-items: center;     /* centro vertical */
  height: 100vh;
}

.login-box {
  width: 280px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
}